body {
	margin: 0;
	font-size: 2rem;
	display: flex;
	flex: 1;
	min-height: 100vh;
	align-items: center;
}

html {
	background: url("../../assets/pattern/pattern-pineapple.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "helvetica neue";
	text-align: center;
	font-size: 10px; 
	transition-duration: .5s;
}

.clockface {
	position: relative;
	width: 30rem;
	height: 30rem;
	margin-top: 30vh;
	margin-right: calc((100vw - 30rem) / 2);
	margin-left: calc((100vw - 30rem) / 2);
	background:rgba(255,255,255, 0.5);
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border: 20px solid white;
	border-radius: 50%;
	padding: 2rem;
}
.adjustment {
	position: relative;
	width: 100%;
	height: 100%;
	transform: translateY(-3px);
}
/*the hands of the watch*/
.hand {
	position: absolute;
	background-color: white;
	width: 50%;
	height: 6px;
	top: 50%;
    transform: rotate(90deg);
	transform-origin: 100%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.39, -0.26, 0, 1.94);
}

