* {
	margin: none;
	border: none;
}

html {
	background: url("../../assets/pattern/pattern-pineapple.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "helvetica neue";
	text-align: center;
	font-size: 10px; 
	transition-duration: .5s;
}

.clockface {
	width: 40vw;
	height: 40vw;
	margin-top: 16vh;
	margin-bottom: auto;
	margin-right: auto;
	margin-left: auto;
	background:rgba(255,255,255, 0.5);
	-moz-border-radius: 40vw;
	-webkit-border-radius: 40vw;
	border-radius: 40vw;
	border-width: 10px;
	border-color: white;
	border-style: solid;
}
/*the hands of the watch*/
.hand {
	background-color: white;
	width: 20vw;
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
	height: 1vw;
	transform-origin: 100%;
	transition: all 0.05s;
	transition-timing-function: cubic-bezier(0.39, -0.26, 0, 1.94);
}

.hour {
	margin-top: 19vw;
}

.minute {

}

#one {

}

#two {

}

#three {
	transform: translateY(-3px) !important;
}